html, body {
  margin: 0px;
  padding: 0px;
}

canvas {
  /* TODO canvas has a bottom margin caused due to line height of inline-elements */
  display: block;
}

#scene-wrapper {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#scene-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}